body{
    background-color: lightblue;
}

h1{
    text-align: center;
    padding: 1rem;
    padding-left: 3rem;
}
.container {
    text-align: center;
    padding-bottom: 1rem;
   
}

label{
    display: block;
    padding: 1rem;
}

button{
    display: block;
    margin : auto;
    margin-top: 1rem;;
}

#outputEl {
    padding: 1rem;
}

nav{
    background-color: white;
    color: black;
    padding : 1rem;
    margin: 0rem;
}

nav a{
    color: lightseagreen;
    padding-left: 2rem;
}